const char* wifiSsid = "Wi-Fi";
const char* wifiPassword = "Passw0rd";
const char* receiverSecret = "Secret";
const long debounce = 15000;
const int receiverPort = 40000;
const int melodyIndex = 1; // 0 = digital output, 1 = funkytown, 2 = bad guy